.DS_Store
.tern-port
.vagrant
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-workspace

pids
logs
results
lib-cov
coverage
node_modules
npm-debug.log

*.pyc
docs

!test/lib/fixtures/master.tar.gz
